@model SportShop.DataAccess.ViewModels.CartVM

<h2>product Details</h2>

<form method="post">
    <div class="row">

    </div>
    <div class="col-8">
        <div class="row">
            @*<label asp-for="ProductName" > Product Name : @Model</label>*@
        </div>
    </div>
</form>